

.navbar {
   box-shadow: 0 3px 4px rgba(40, 43, 43, 0.1);
    text-shadow: 0 2px 3px #313b3a;
} 

.navbar-brand {
 font-size: 19px;
 margin-left: 30px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}


.nav-link:hover, .nav-link.active {
   color: rgb(255, 255, 255) !important; 

}

.navbar-custom {
    background-color: #16716d !important; 
}

.navbar-custom,
.navbar-custom, .nav-link {
    color: rgb(198, 220, 222) !important; 
}
.navbar-brand{
    color: rgb(217, 233, 235) !important; 
}

body{
    background-color: rgb(199, 242, 231);
}


p {
    color: #d7f1ed;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.pCardCustom {
    text-align:justify;
    color: #4c6562;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3 {

    color: #ffffff;
    text-shadow: rgb(0, 0, 0);
    text-shadow: 10px;
    font-family:Georgia, 'Times New Roman', Times, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
}

.ortaBaslik {
    text-align: center;
}

.colonCustom {
  background-color:rgb(212, 250, 243);
  border-color: #308476 !important;
  border-top-left-radius: 1cap;
    border-bottom-left-radius: 1cap;
    
}

.colonCustom2 {
    background-color:rgb(212, 250, 243);
    border-top-color: #308476 !important;
    border-bottom-color: #308476 !important;
    border-right: none !important;
    border-left: none !important;
}

.colonCustom3 {
    background-color:rgb(212, 250, 243);
    border-color: #308476 !important;
    border-bottom-right-radius: 1cap;
    border-top-right-radius: 1cap;
}

.dropdown-menu {
    margin-left: 15px;
    background-color: #16716d !important;
    border-bottom-left-radius: 0cap;
    border-top-left-radius: 0cap;
}

.satirCustom {
    background-color:rgb(232, 252, 248);
    border: 1px;
    border-radius: 12px;
}

header.headerCustom{
    margin: 15px;
    background: #badcd6;
    border-radius: 1cap;
}

header.headerCustom2{
    background:  #27a489;
}

footer{
    background-color: #083636;
    height: 4rem;
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

span{
    font-size: 10px;
    margin: 2px;
}

/* footerdaki linki düzenlemek için kullandım */
.linkCustom {
    font-size: 10px;
    margin: 2px;
    color:  aliceblue;;
}

/* kenarlık ve arkaplan rengini düzenler */
.navbar-toggler{
    background-color: #115656;
    border-color:rgb(179, 222, 216)
}

.navbar-toggler-icon{
    /* beyaz icona çevirir */
  background-image: 
  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


main {
  flex: 1 0 auto;
}



.iconCustom {
    size: 20px;
    margin: 2px;
    color:  rgb(231, 243, 254);;
}

a.altyazisiz {
    text-decoration: none;
}

.yumusakResimCustom {
    border-radius: 1cap;
}

h1.hSehirCustom, h2.hSehirCustom,h3.hSehirCustom {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: bold;
    font-size: 45px;
}


.cardCustomCV {
 background-color: #2d7373;
 color: #e2eeec;
}
