

.navbar {
   
}

.navbar-brand {
 font-size: 15px;
 margin-left: 35px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
 /* Georgia, 'Times New Roman', Times, serif */
}

.navbar-nav {
   
}

.nav-item::before {
  
}

.nav-link {
  
}

.nav-link:hover, .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom {
    background-color: #068484 !important; 
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgb(223, 238, 239) !important; 
}