<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css?v=1.0">
     <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
  <body>

    <!-- navbar kısmı -->
   <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-custom">
        <div class="container-sm">  
          <a class="navbar-brand  d-flex align-items-center" href="index.html">
            <img src="img/profilfoto.jpg" class="rounded-circle"  alt="profilfoto" width="24" height="24">
            <div style="margin-left: 12px;">Ahmet Faruk İkiz </div>
          </a>
          <button class="navbar-toggler ms-auto " type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>  
          
         <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              

               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"> <i class="bi bi-person-fill m-2"></i>Kişisel</a>
                  <ul class="dropdown-menu">

                      <li class="nav-item">
                        <a class="nav-link" href="ilgi-alanlarim.html"><i class="bi bi-music-note-beamed m-2"></i>İlgi Alanlarım</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="cv.html"><i class="bi bi-mortarboard-fill m-2"></i>CV</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="bi bi-house-door-fill m-2"></i>Hakkımda</a>
                      </li>

                  </ul>
              </li>
              
              
             
              
              <li class="nav-item">
                <a class="nav-link" href="sehir.html"><i class="bi bi-buildings-fill m-2"></i>Şehrim</a>
              </li>

              <li class="nav-item"> 
                <a class="nav-link" href="mirasimiz.html"><i class="bi bi-hospital-fill m-2"></i>Mirasımız</a>
              </li>


               <li class="nav-item">
                <a class="nav-link" href="iletisim.html"><i class="bi bi-telephone-outbound-fill m-2"></i>İletişim</a>
              </li>

              
              

               <li class="nav-item">
                <a class="nav-link" href="login.html"><i class="bi bi-person-fill-add m-2"></i>Giriş Yap</a>
              </li>

              

            </ul>
          </div>
        </div>
    </nav>


 <!-- header bölümü -->
    <header class="header headerCustom2">
      <div class="container container-sm ">
        
          <p>İletişim Bilgilerinizi ve Tercihlerinizi giriniz</p>
      </div>
    </header>



     <!-- ana içerik -->
<main class="flex-fill contact-container p-3 m-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">

          <div class="card-header" style="background-color: rgb(3, 74, 74);">
            <div class="container container-fluid py-2 my-2">
              <h1 class="m-1 text-center" style="color: rgb(240, 255, 251);">İletişim Formu</h1>
            </div>
          </div>

          <div class="card-body">
            <form id="iletisimID" @submit="submitForm" method="POST" action="php/iletisimsonuc.php" enctype="multipart/form-data">
              <!-- ilk satır -->
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="ad" class="form-label">Adınız:</label>
                  <input type="text" class="form-control" id="ad" placeholder="Adınızı Giriniz" name="ad" v-model="form.ad">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="soyad" class="form-label">Soyadınız:</label>
                  <input type="text" class="form-control" id="soyad" placeholder="Soyadınızı Giriniz" name="soyad" v-model="form.soyad">
                </div>
              </div>

              <!-- ikinci satır -->
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="telefon" class="form-label">Telefon:</label>
                  <input type="tel" id="telefon" class="form-control" name="telefon" placeholder="05** *** ****" v-model="form.telefon">
                  <div class="invalid-feedback">11 haneli telefon no girin.</div>
                </div>

                <div class="col-md-6 mb-3">
                  <label for="email" class="form-label">E-Posta:</label>
                  <input type="email" class="form-control" id="email" placeholder="ornek@sakarya.edu.tr" name="email" v-model="form.email">
                </div>
              </div>

              <!-- üçüncü satır -->
              <div class="row">
                <div class="col-4 mb-3">
                  <label for="yas" class="form-label">Yaş:</label>
                  <input type="number" class="form-control" id="yas" placeholder="örnek: 19" name="yas" v-model="form.yas">
                </div>
                <div class="col-8 mb-3">
                  <label for="aciliyet" class="form-label">Aciliyet</label>
                  <input type="range" name="aciliyet" id="aciliyet" v-model="form.aciliyet" class="form-range">
                </div>
              </div>

              <!-- dördüncü satır -->
              <div class="row">
                <div class="col-sm mb-3">
                  <label for="basvuruNedeni" class="form-label">Başvuru Nedeni</label>
                  <select class="form-select" id="basvuruNedeni" name="basvuruNedeni" v-model="form.basvuruNedeni">
                    <option value="oneri">Öneri</option>
                    <option value="teknik">Teknik</option>
                    <option value="sikayet">Şikayet</option>
                    <option value="diger">Diğer</option>
                  </select>
                </div>
              </div>

              <!-- beşinci satır -->
              <div class="row">
                <div class="col-sm mb-3">
                  <label class="form-label">Cinsiyet:</label> <br>
                  <input type="radio" name="cinsiyet" id="erkek" value="Erkek" v-model="form.cinsiyet" />
                  <label for="erkek">Erkek</label>
                  <input type="radio" name="cinsiyet" id="kadin" value="Kadın" v-model="form.cinsiyet" />
                  <label for="kadin">Kadın</label>
                </div>

                <div class="col-sm mb-3">
                  <label class="form-label">Bilinen Kodlama Dilleri:</label> <br>
                  <input type="checkbox" name="kodlama[]" id="java" value="Java" class="kodlama-checkbox" v-model="form.kodlama" />
                  <label for="java">Java</label>
                  <input type="checkbox" name="kodlama[]" id="python" value="Python" class="kodlama-checkbox" v-model="form.kodlama" />
                  <label for="python">Python</label>
                  <input type="checkbox" name="kodlama[]" id="html" value="Html" class="kodlama-checkbox" v-model="form.kodlama" />
                  <label for="html">HTML</label>
                </div>
              </div>

              <!-- altıncı satır -->
              <div class="row">
                <div class="col mb-3">
                  <label for="renk" class="form-label">Renk:</label>
                  <input type="color" name="renk" id="renk" v-model="form.renk" class="form-control">
                </div>

                <div class="col mb-3">
                  <label for="tarih" class="form-label">Beklenen Dönüt Tarihi:</label>
                  <input type="date" name="tarih" id="tarih" v-model="form.tarih" class="form-control">
                </div>
              

               <div class="col mb-3">
                  <label for="saat" class="form-label">Beklenen Dönüt Saati:</label>
                  <input type="time" name="saat" id="saat" v-model="form.saat" class="form-control">
                </div>
             </div> 
              

              <!-- yedinci satır -->
              <div class="row">
                <div class="col mb-3">
                  <label for="dosya" class="form-label">Yüklenecek Dosya</label>
                  <input type="file" name="dosya" id="dosya" class="form-control" @change="onFileChange">
                </div>
              </div>

               <div class="row">
                <div class="col-sm flex-fill mb-3">
                    <label for="konu" class="form-label">Konu</label> <br>
                  <textarea name="konu" id="konu" v-model="form.konu" rows="6px" cols="35px"></textarea>
                </div>
              </div>

              <!-- buton -->
      <div class="d-flex gap-2 w-100 mb-2">
        <button type="button" class="btn btn-danger flex-grow-1" onclick="jsiledogrula()">JS ile dogrula</button>
        <button type="button" class="btn btn-primary flex-grow-1" @click="vueiledogrula">VUE.JS ile dogrula</button>
      </div>
      <div class="w-100 mb-2">
        <button type="submit" id="gonderBtn" class="btn btn-success w-100" :disabled="!isValid " style="background-color: rgb(12, 114, 127); color: aliceblue;" >Gönder</button>
      </div>
      <div class="w-100">
        <button type="reset" class="btn btn-dark w-100">Temizle</button>
      </div>
              </div>
            </form>
          </div> <!-- card-body bitişi-->
        </div> <!-- card bitişi -->
      </div> <!-- ana colon bitişi -->
    </div> <!-- ana row bitişi -->
  </div> <!-- ana container bitişi -->
</main>

    <!-- footer -->
        <footer class="footer text-center p-2" style="height: 67px;">
           <span>© 2025 Tüm Hakları Saklıdır</span>
           <br>
              <span>Ahmet Faruk İkiz </span> - <a class="linkCustom" href="login.html">Giriş Yap</a> <span>/
              </span> <a class="linkCustom" href="iletisim.html">İletişim</a>
        </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  
  </body>
</html>